<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>text.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA70138F1F3305BF0032B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA7013A81F3305C10032B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA7013B31F3305C10032B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
